/* Style for the unordered list */
ul {
list-style-type: square;
    padding: 70; 
    margin: 0; 
    width: 50ch;
    font-size: x-large;
    font-style: italic;
}

ul {
    float: initial;
  }


/* Style for links */
ul {
    color: #cbdbdb; 
    font-weight: bold; 
    padding: 30px; 
}

/* Hover effect for links */
a:hover {
    background-color: #f0f0f0; 
    color: #e74c3c; 
}


